{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
<footer>
    <div class="footer-content">
        <div class="footer-left">
          <h4>Acerca del MINCETUR: </h4>
          <h5>Encargado de encargamos de definir, dirigir, coordinar, ejecutar y supervisar las políticas de comercio exterior, 
            con excepción de la regulación arancelaria, y de turismo en el país, como órgano rector del sector.</h5>
        </div>
        <div class="footer-right">
          <h4>Contacto: </h4>
          <h5>Centro de Lima 1518</h5>
          <h5>Mincetur@gob.pe.com</h5>
          <h5>+51 999 999 999</h5>
        </div>
      </div>
</footer>