footer
{
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    align-items: center;
    background-color: #4D4D4D;
    padding-top: 30px;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 30px;
}
.footer-content
{
    padding-top: 25px;
    padding-top: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-evenly;
}
.footer-content h5
{
    font-size: medium;  
    white-space: initial;
    font-weight: lighter;
    line-height: 1.5;
}
.footer-content h4
{
    font-size: large;
    font-weight: bolder;
}
.footer-left,.footer-right
{
    width: 300px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: justify;
    color:white;
}
.footer-left h5
{
    font-style: italic;
}
