.navbar {
    background-color:#B46060;
    height: 75px;
    margin: 0;
    padding: 0;
    top:0;
    width: 100%;
  }
#navbarSupportedContent {
    height: 75px;
    align-items: center;
    list-style: none;
    justify-content: space-evenly;
}
.navbar-item a
{
    color: #FFF4E0;
}
nav
{
    background-color:#B46060;
    height: 75px;
    margin: 0;
    padding: 0;
    top:0;
    width: 100%;
}
.navbar-brand
{
    color: white;
    padding-left: 20px;
}